#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

//title style
ion-title{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 44px;
  color: #a5ffd6;
}

//result box style
.result{
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 20px;
  color: #dad7cd;
  background-color: #293241;
  text-align: right;
  font-size: 32px;
  font-family: Courier;
  border-style: solid;
  border-color: #a5ffd6;
}

//n column style
.n{
  text-align: center;
  padding-right: 0;
}

//m column style
.m{
  padding-left: 0;
}

//numbers buttons style
.buttons{
  color: #a5ffd6;
  text-align: center;
  font-family: Courier;
  font-size: 20px;
  height: 66;
  width: 23%;
}

ion-button {
  --background: #293241;
}

//operators buttons style
.buttonsTwo{
  --background: #a5ffd6;
  color:  #293241;
  text-align: center;
  font-family: Courier;
  font-size: 20px;
  height: 66;
  width: 80%;
}

//PD note style
.note {
  color: #dad7cd;
  text-align: center;
  font-size: 22px;
  font-family: Courier;
}