<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wen & Fio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wen & Fio</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Display the result-->
  <div class="result">
    <ion-label> {{value}}</ion-label>
  </div>
  <!--Buttons array-->
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="n">
        <div *ngFor="let numgroup of numbers">
          <ion-button *ngFor="let num of numgroup" (click)="OnClick(num)" class="buttons">{{num}}</ion-button>
        </div>
      </ion-col>
      <ion-col size="3" class="m">
        <div *ngFor="let operatorsgroup of operators">
          <ion-button *ngFor="let op of operatorsgroup" (click)="OnClick(op)" class="buttonsTwo">
            {{op}}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Display the PD note-->
  <div class="note">
    <ion-label>Nota: Los resultados de ángulos están dados en radianes</ion-label>
  </div>
</ion-content>